html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
*{
    box-sizing: border-box;
    /* border: 1px solid grey; */
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto Mono', monospace; 
    line-height: 1.5;
    font-size: 1.6rem;
    margin: 2% 20%;
}
h1{
    font-family: 'Chelsea Market', cursive;
}
nav a{
    display: inline-block;
    padding: 1% 0 1% 0;
    width: 10%;
    border-radius: 10px;
    text-align: center;
    font-size: 1.25rem;
    color: white;
    margin-top: 2%
}
.orange{
    background-color: #FF764E;
    margin-left: 10%;
}
.blue{
    background-color: #5ED3EB;
    margin: 0 24%;
}
.yellow{
    background-color: #FFCD69;
    margin-right: 10%;
}
header .info{
    display: inline-block;
    margin-top: 3%;
    padding-top: 3%;
    /* background-color: lightgrey; */
}
header img{
    width: 25%;
    height: 25%;
    margin-left: 1%;
    border-radius: 50%;
}
header h1,  header p{
    position: relative;
    bottom: 27rem;
    margin-left: 20%;
    padding: 1%;
    text-align: center;
}
header h1{
    font-size: 6rem;
}
header p{
    font-size: 1.75rem;
}
#describePark{
    position: relative;
    bottom: 21rem;
    background-color: #DDB9A3;
    /* margin: 2%; */
    font-size: 1.75rem;
    text-align: center;
}
.fire img{
    position: relative;
    left: 42%;
    bottom: 17rem;
    width: 12%;
    height: 12%;
}
.fire p{
    position: relative;
    bottom: 17rem;
    margin: 0 20%;
    text-align: center;
}
.camper img{
    position: relative;
    left: 42%;
    bottom: 11rem;
    width: 13%;
    height: 13%
}
.camper p{
    position: relative;
    bottom: 11rem;
    margin: 0 20%;
    text-align: center;
}
p .bold{
    font-weight: bolder;
}
.heroImage{
    background-image: url('assets/footer_img.jpg');
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
footer{
    background-color: #F9E7DC;
    padding-bottom: 2%;
}