html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
}
h1{
    font-family: 'Chelsea Market', cursive;
}
p, a{
    font-family: 'Roboto Mono', monospace;
}

nav{
    display: inline-block;
}
nav div.planVisit a{
    display: inline-block;
    background-color: #FF764E;
    font-size: 2.4rem;
    margin-top: 11%;
    margin-left: 94%;
    border-radius: 25px;
    padding: 10% 40%;
    text-align: center;
}
.learnPark a{
    display: inline-block;
    background-color: #5ED3EB;
    font-size: 2.4rem;
    margin-top: 11%;
    margin-left: 95%;
    margin-right: 95%;
    border-radius: 25px;
    padding: 10% 40%;
    text-align: center;
}
.getInvolved a{
    display: inline-block;
    background-color: #FFCD69;
}
header img{
    width: 19%;
    height: 19%;
    border-radius: 50%;
    display: inline-block;
}
header h1{
    display: inline-block;
}
header div p{
    display: inline-block;
}
#describePark{
    background-color: #DDB9A3;
}
span.fireRestrict{
    font-weight: bolder;
}
span.enterFee{
    font-weight: bolder;
}
footer{
    background-color: #F9E7DC;
}
.planVisitFoot a{
    display: inline-block;
    background-color: #FF764E;
}
.learnParkFoot a{
    display: inline-block;
    background-color: #5ED3EB;
}
.getInvolvedFoot a{
    display: inline-block;
    background-color: #FFCD69;
}
